body {
    background-color: white;
}

h1 {
    color: purple;
    margin-left: 20px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.footer {
			position: absolute;
			bottom: 0;
			height: 20px;
			background: #f0f0f0;
			width: 100%;
		  }